<div class="row">
  <div class="col"></div>
  <div class="col-5">
    <h5><%= link_to  @opinion.author.name, me_path(@opinion.author) %></h5>
    <p><%= @opinion.text %></p>
  </div>
  <div class="col"></div>
</div>