<div class="wtf-and-button">
  <span>Followed by</span>
</div>
<div class="users-wtf">
  <ul>
    <% followers3(@user).each do |random_user| %>
      <li>
        <%= profile_pic random_user %>
        <div class="text">
          <%= link_to  "#{random_user.name}", me_path(random_user) %>
          <span><%= "#{random_user.num_followers} " %> Follower(s)</span>
        </div>
      </li>
    <% end %>
  </ul>
</div>