<div class="top-row row"></div>
<div class="row forms_row">
  <div class="col side_col"></div>
  <div class="col-3 new_user label_none">
    <%= image_tag 'logo.png', tag: 'justlikethatlogo', class: 'new_logo' %>
    <%= render 'users/users_forms' %>
  </div>
  <div class="col side_col"></div>
</div>
<div class="bottom-row row"></div>