<% if object.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% unless object.errors.full_messages_for(:name).empty? %>
        <li><%= object.errors.full_messages_for(:name)[0] %></li>
      <% end %>
      <% unless object.errors.full_messages_for(:username)[0].empty? %>
        <li><%= object.errors.full_messages_for(:username)[0] %></li>
      <% end %>
    </ul>
  </div>
<% end %>