<div class="opinion">
  <%= form_for(:opinion, url: jlt_new_path) do |f| %>
    <%= f.label :text, "Just Like That!" %>
    <%= f.text_field :text, class: 'form-control', placeholder: "Write something cool, or not...", maxlength: '200' %>

    <%= f.submit 'Post JLT', class: 'btn btn-primary' %>
  <% end %>
</div>