@import "bootstrap";

$font-prof: #ADB8C5;
$logo-color: #29B55F;
$background-color: #F5F6F8;
$undernav-fontcolor: #2A3A4A;
$twitter-blue: #4A9AD8;
$login-color: #29B55f;

/* General */

body {
  background-color: $background-color;
  font-size: 1.1vw;
}

:root {
  --font-family-sans-serif: 'Noto Serif', Arial, Helvetica, sans-serif;
  --font-family-monospace: 'Noto Serif', Arial, Helvetica, sans-serif;
}

.flex_grow {
  flex-grow: 1;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.opinion {
  background: #F5F6F8;
  z-index: 2;
}

.form-control {
  resize: none;
}

#error_explanation {
  margin: 5px -40px;
  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
}

/* Grid system */

.main-body {
  grid-area: mainbody;
  overflow: visible;
}

.container-fluid {
  .grid-sis {
    display: grid;
    grid-template-columns: 16.66vw 1fr 22.5vw;
    grid-template-rows: 6vw 1fr;
    grid-template-areas: 
    "profilearea navbar navbar"
    "profilearea mainbody whotofollow"
    ;
  }
}

/* Italic fonts in forms */

.form-op {
  margin-left: 1em;
  font-style: italic;
  font-size: 0.8em;
}

label {
  margin-bottom: 0.1em;
  margin-top: 0.4em;
}
