@import "bootstrap";

$font-prof: #ADB8C5;
$logo-color: #6AD48C;
$background-color: #F5F6F8;
$undernav-fontcolor: #2A3A4A;
$twitter-blue: #4A9AD8;

/* General */

body {
  background-color: $background-color;
}

:root {
  --font-family-sans-serif: 'Noto Serif', Arial, Helvetica, sans-serif;
  --font-family-monospace: 'Noto Serif', Arial, Helvetica, sans-serif;
}

.flex_grow {
  flex-grow: 1;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.opinion {
  background: #F5F6F8;
  z-index: 2;
}

.form-control {
  resize: none;
}

#error_explanation {
  margin: 5px -40px;
  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
}

/* Italic fonts in forms */

.form-op {
  margin-left: 1rem;
  font-style: italic;
  font-size: 0.8rem;
}

label {
  margin-bottom: 0.1rem;
  margin-top: 0.4rem;
}

/* New users page */

.new_logo {
  width: 300px;
  max-width: 80%;
  display: block;
  margin: 50px auto;
}

.label_none {
  label {
    display: none;
  }
}

.new_user {
  margin: 0 50px;
  min-width: 400px;
  form {
    display: flex;
    flex-wrap: wrap;
    span {
      display: none;
    }
    input {
      width: 100%;
      flex-basis: calc(50% - 10px);
      margin: 5px 5px;
    }
    input[type="submit"] {
      flex-basis: 100%;
      background-color: $logo-color;
      border-color: $logo-color;
      font-weight: bold;
      font-size: 1.2rem;
    }
    .field_with_errors:nth-of-type(2), .field_with_errors:nth-of-type(4) {
      flex-basis: calc(50% - 10px);
      margin: 5px 5px;
      width: 100%;
      input {
        border: solid 2px #8B9EB7 ;
      }
    }
  }
}

.side_col {
  background-color: $logo-color;
}

.forms_row {
  height: 80vh;
}

/* login */

.login_col {
  margin: 0 50px;
  min-width: 400px;
  form {
    display: flex;
    flex-wrap: wrap;
    span {
      display: none;
    }
    input {
      width: 100%;
      flex-basis: calc(100% - 10px);
      margin: 5px 5px;
    }
    input[type="submit"] {
      flex-basis: 100%;
      background-color: $logo-color;
      border-color: $logo-color;
      font-weight: bold;
      font-size: 1rem;
    }
  }
  span {
    display: block;
    width: 100%;
    text-align: center;
    a:hover {
      background-color: $logo-color;
      color: #fff;
      text-emphasis: bold;
      transition: ease, color 0.2s;
      transition-duration: 1s;
    }
  }
  .alert {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.top-row {
  height: 10vh;
  background: $logo-color;
}

.bottom-row {
  height: 10vh;
  background: $logo-color;
}

/* nav */

nav {
  background: linear-gradient(rgba(112,226,164,1) 0%, rgba(106,212,140,1) 100%);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  grid-area: navbar;
  z-index: 5;
  height: 12vh;
  .nav_left {
    display: flex;
    a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .white_logo {
    width: 40px;
    margin-left: 40px;
    align-self: center;
  }
  .iconsize {
    width: 18px;
    margin: 0 20px;
  }
  .dropdown-toggle {
    .iconsize {
      margin-right: 40px;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
  .a_svg {
    color: #8B9EB7;
  }
  .a_svg:hover {
    color: #fff;
    transition-duration: 0.5s;
  }
  .dropdown-menu {
    background: $logo-color;
    border: transparent;
    li {
      display: flex;
      justify-content: center;
    }
    a {
      font-size: 1.2rem;
      font-weight: bold;
      color: #fff;
    }
    a:hover {
      text-decoration: none;
      color: lightslategray;
    }
  }
  #dropdown-settings {
    position: absolute;
    transform: translate3d(-85.5px, 40px, 0px) !important;
  }
  .divider {
    border-bottom: 1.5px solid #fff;
    margin: 1px 4px;
  }
}

.navbar-nav {
  justify-content: center;
}

/* profile menu */

.profile-menu {
  grid-area: profilearea;
  height: 100vh;
  background-color: #1A2A3D;
  position: sticky;
  top: 0;
}

.profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
  border-bottom: 1px solid gray;
  a {
    color: $font-prof;
    display: flex;
    align-items: center;
    .profile-image {
      display: block;
      background-color: lightgray;
      border-radius: 2px;
      height: 6vh;
      width: 6vh;
      margin-right: 10px;
    }
    &:hover {
      text-decoration: none;
    }
    span {
      text-transform: uppercase;
      font-size: 0.9rem;
    }
  }
}

.followers-followings {
  display: flex;
  height: 10vh;
  .follow-style {
    flex-basis: 50%;
    height: 100%;
    border-bottom: 1px solid gray;
    color: $font-prof;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
      font-size: 0.9rem;
    }
    h5 {
      margin: 0;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  .followers {
    border-left: 1px solid gray;
  }
}

.profile-links {
  .profile-link {
    height: 8vh;
    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      color: $font-prof;
      span, i {
        margin-left: 20px;
      }
      &:hover {
        text-decoration: none;
        background-color: $logo-color;
        color: rgb(255, 255, 255);
        transition: ease;
        transition-duration: 0.7s;
        .profile-svg {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}

.profile-svg {
  color: $font-prof;
  width: 18px;
}

/* main options */

.main-options {
  height: 10vh;
  width: 100%;
  margin: 0;
  border-bottom: solid 1px lightgray;
  position: sticky;
  top: 12vh;
  background-color: $background-color;
  z-index: 1;
  .options {
    a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin: 0;
      text-transform: uppercase;
      color: $font-prof;
      font-weight: bold;
      &:hover {
        text-decoration: none;
        border-bottom: 5px solid $logo-color;
        color: #2A3A4A;
        transition: ease;
        transition-duration: 0.3s;
      }
      span {
        margin: 0 20px;
      }
    }
  }
}

.dis-none-options {
  .options-followers {
    display: none;
  }
  .options-following {
    display: none;
  }
  .options-favorites {
    display: none;
  }
  .options-lists {
    display: none;
  }
}

.dis-none-option-video {
  .options-videos {
    display: none;
  }
}

/* opinion */

.opinion {
  padding: 20px;
  input[type="submit"] {
    display: none;
  }
  label {
    color: $font-prof;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }
  form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
  }
  .form-control {
    color: $undernav-fontcolor;
    font-size: 0.9rem;
  }
}

/* who to follow */

.who-to-follow {
  grid-area: whotofollow;
  border-left: solid 1px lightgrey;
  position: sticky;
  top: 12vh;
  height: 88vh;
}

.wtf-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  color: $font-prof;
  border-bottom: 1px solid lightgray;
  margin: 0 10%;
  a {
    color: $font-prof;
  }
  svg {
    width: 18px;
  }
}

.users-wtf {
  border-bottom: solid 1px lightgrey;
  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    height: 30vh;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    li {
      display: flex;
      margin-left: 15px;
      a { 
        color: $undernav-fontcolor;
        font-weight: bold;
        font-size: 0.9rem;
      }
      .text {
        display: flex;
        margin-left: 10px;
        flex-flow: column;
        span {
          color: $undernav-fontcolor;
          font-size: 0.8rem;
        }
      }
    }
  }
  img {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;
  }
}

.users-wtf-links {
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 0.85rem;
  span {
    vertical-align: text-bottom;
    color: $twitter-blue;
  }
  a {
    color: $twitter-blue;
  }
}

.trending-mentions {
  display: flex;
  flex-flow: column;
  color: $font-prof;
  font-size: 0.9rem;
  font-weight: bold;
  span {
    margin-left: 10%;
    margin-top: 15px;
  }
}

/* JLTs */

.posts-container {
  margin: 20px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.jlt-container {
  display: flex;
  align-items: center;
  margin: 0 20px;
  margin-top: 25px;
  color: gray;
  p, span, h6 {
    margin: 0;
    padding: 0;
  }
  img {
    width: 8vh;
    height: 8vh;
    background-color: lightgray;
    border-radius: 2px;
  }
  .jlt-text {
    display: flex;
    height: 8vh;
    flex-grow: 1;
    flex-flow: column;
    margin-left: 10px;
    h6 {
      a {
        color: $undernav-fontcolor;
        font-weight: bold;
        font-size: 0.92rem;
        &:hover {
          text-decoration: none;
        }
      }
    }
    span {
      font-size: 0.92rem;
      line-height: 1.2;
    }
    .jlt-name {
      display: flex;
      justify-content: space-between;
    }
    p {
      font-size: 0.9rem;
      margin-right: 30px;
      a {
        color: $twitter-blue;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/* Pagination */

div[class="pagination"] {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  .pagination {
    border: 1.5px solid $twitter-blue;
    border-radius: 10px;
  }
  li {
    background-color: #fff;
    margin: 10px 0;
    border-right: 0.5px solid $twitter-blue;
    line-height: 1;
    a {
      width: 100%;
      height: 100%;
      padding: 10px 5px;
      color: $twitter-blue;
      font-weight: bold;
      line-height: 1;
      &:hover {
        text-decoration: none;
        color: #fff;
        background-color: $logo-color;
        transition: ease;
        transition-duration: 0.5s;
      }
    }
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      a {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-right: none;
      a {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

/* Grid system */

.main-body {
  grid-area: mainbody;
  overflow: visible;
}

.container-fluid {
  .grid-sis {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 12vh 1fr;
    grid-template-areas: 
    "profilearea navbar navbar"
    "profilearea mainbody whotofollow"
    ;
  }
}