<div class="row main-options">
  <div class="options options-tweets">
    <%= link_to 'javascript:void(0);' do %>
      <span>JLT's</span>
    <% end %>
  </div>
  <div class="options options-following">
    <%= link_to 'javascript:void(0);' do %>
      <span>Following</span>
    <% end %>
  </div>
  <div class="options options-followers">
    <%= link_to 'javascript:void(0);' do %>
      <span>Followers</span>
    <% end %>
  </div>
</div>