<div class="row main-options">
  <div class="options options-tweets">
    <%= main_options_jlt @user %>
  </div>
  <% unless @user.nil? %>
    <div class="options options-following">
      <%= link_to users_path(params: { follow: 'following', user: @user.username }) do %>
        <span>Following</span>
      <% end %>
    </div>
    <div class="options options-followers">
      <%= link_to users_path(params: { follow: 'followers', user: @user.username }) do %>
        <span>Followers</span>
      <% end %>
    </div>
  <% end %>
</div>